In [11]:
import pandas
from IPython.display import display

a = pandas.read_csv("data.csv", skipinitialspace=True)
# display(a)
display(a[["CurrentPlayer", "CurrentPlayerWin"]])
display(
    a[["Depth", "CurrentPlayer", "CurrentPlayerWin"]]
    .groupby(["Depth", "CurrentPlayer"])
    .mean()
)

display(a[a["Depth"] == 16][[ "Board", "State", "CurrentPlayer", "CurrentPlayerWin"]].iloc[:10])

      CurrentPlayer  CurrentPlayerWin
0                 0                 0
1                 1                 1
2                 1                 0
3                 1                 0
4                 0                 0
...             ...               ...
3785              1                 1
3786              1                 1
3787              1                 1
3788              1                 1
3789              1                 1

[3790 rows x 2 columns]

                     CurrentPlayerWin
Depth CurrentPlayer
15    0                      0.829960
      1                      0.857708
16    0                      0.185675
      1                      0.198964

                Board          State  CurrentPlayer  CurrentPlayerWin
0  0xC4DCAC95A46A24E4  0x6AC50E17079              0                 0
1  0xAC334D6874AB422E  0xAF0E0F6EE9C              1                 1
2  0xC6C13E2E393DA0A3  0x6E4A3B3D12A              1                 0
3  0x127CBC43BEE618B4  0x12AF65C5F59              1                 0
4   0xCC6DB46BF99958C  0xD34949BF058              0                 0
5  0x339C63999A4B62A3  0x6F0A9A229FC              1                 0
6  0xC7BD020F65CF1516  0x5DA262B2917              0                 0
7  0xB3C1C9AB85CDD943  0xC1A69C55560              1                 0
8  0x82FD43AD41FFD8A3  0xAE8D63D916F              1                 0
9  0x390F63F12720D866  0x346F23C2E5F              1                 0